.yearlyData {
    font-size: 2rem;
    align-items: center;
}

.yearlyDataContainer{
    align-items: center;
    margin-bottom: 1.5%;
}

.stockNameAndPrice{
    margin-top: 1%;
    margin-bottom: 1%;
}

.profitCard {
    margin-left: 3%;
}

.numberOfSharesForm{
    width: 20%;
}

.totalProfitTitle{
    font-size: 2rem;
}

.totalProfit {
    font-size: 2.25rem;
}

.percentLoss{
    color: red;
}

.TESTING {
    border: solid 1px black;
    width: 100%;
}

.customCostCard{
    margin: auto;
    width: 65%;
}

.averageCostForm{
    margin-top: 1%;
    width: 25%;
}

#currentPrice{
    font-size: 2.5rem;
}

#numOfShares{
    font-size: 1.5rem;
}

#yearLow{
    color: red;
}

#yearAverage{
    color: yellow;
}

#yearHigh{
    color: green;
}

#customCostTitle{
    font-size: 1.5rem;
}

