@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.header1{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Oswald', sans-serif;
}

#navBarContainer{
    width: 30%;
    margin-left: 35%;
}

.navLink{
    margin-top: 3%;
    font-weight: bold;
    margin-right: 2%;
    font-size: 1.4rem;
    color: black;
}

.navLink:hover{
    color: white;
    text-decoration: none;
}

.navLink:link {
    text-decoration: none;
}