#stockDescription{
    width: 100%;
    margin: auto;
    font-size: 1rem;
}

#stockData{
    width: 50%;
    margin: 0 auto;
}

#companyDataContainer{
    align-items: center;
}

#descriptionTitle{
    float: left;
}

#stockName{
    margin-bottom: 1%;
}

#companyImage{
    margin-top: 3%;
}

.companyInfoTable{
    width: 50%;
    margin: auto;
}

.lineShort{
    width: 30%;
}

.companyFundamentals{
    align-items: center;
    margin: auto;
}

.aboutTitle{
    font-family: 'Londrina Solid', cursive;
    font-size: 3rem;
    margin-top: 13%;

}

.dataTable{
    font-family: 'Nunito', sans-serif;
    border: solid 1px black;
}